<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Schmeeting" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="turbo-visit-control" content="disable">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "games", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="sidebar">
      <%= render "shared/logo" %>
      <ul class="nav">
        <li><%= link_to games_meeting_breakout_path, data: { turbo: false } do %><%= render "shared/svg_calendar" %><span>Calendar</span><% end %></li>
        <li><%= link_to games_kanban_memory_path, data: { turbo: false } do %><%= render "shared/svg_kanban" %><span>Kanban</span><% end %></li>
        <li><%= link_to games_gantt_chart_kong_path, data: { turbo: false } do %><%= render "shared/svg_gantt_chart" %><span>Gantt Chart</span><% end %></li>
        <li><%= link_to games_spreadsheet_kaboom_path, data: { turbo: false } do %><%= render "shared/svg_spreadsheet" %><span>Spreadsheet</span><% end %></li>
        <li><%= link_to games_spreadsheet_kaboom_path, data: { turbo: false } do %><%= render "shared/svg_mail" %><span>Mail</span><% end %></li>
      </ul> 
    </div>  
    <header>
      <div class="branding">
        <span class="logo">Schmeeting.</span> 
        <span class="tagline">Yes, I'm working.</span>
      </div>
      <div class="profile">
        <%= image_tag "kc.png" %>
        <div>by Ka Wai Cheung</div>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
